---
http_interactions:
- request:
    method: get
    uri: https://auspost.com.au/api/postage/parcel/international/service.json?country_code=NZ&weight=10
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Auth-Key:
      - cd4fcd93-6230-44cb-98ff-3294e281e968
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"services":{"service":[{"code":"INTL_SERVICE_ECI_PLATINUM","name":"Express
        Courier International Platinum","price":"202.80","max_extra_cover":5000,"options":{"option":{"code":"INTL_SERVICE_OPTION_EXTRA_COVER","name":"Extra
        Cover"}}},{"code":"INTL_SERVICE_ECI_M","name":"Express Courier International
        Merchandise","price":139.85,"max_extra_cover":5000,"options":{"option":[{"code":"INTL_SERVICE_OPTION_PICKUP_METRO","name":"Pick
        Up (Metro Only)"},{"code":"INTL_SERVICE_OPTION_EXTRA_COVER","name":"Extra
        Cover"}]}},{"code":"INTL_SERVICE_ECI_D","name":"Express Courier International
        Documents","price":132.45,"max_extra_cover":5000,"options":{"option":[{"code":"INTL_SERVICE_OPTION_PICKUP_METRO","name":"Pick
        Up (Metro Only)"},{"code":"INTL_SERVICE_OPTION_EXTRA_COVER","name":"Extra
        Cover"}]}},{"code":"INTL_SERVICE_EPI","name":"Express Post International","price":121.25,"max_extra_cover":5000,"options":{"option":{"code":"INTL_SERVICE_OPTION_EXTRA_COVER","name":"Extra
        Cover"}}},{"code":"INTL_SERVICE_AIR_MAIL","name":"Air Mail","price":114.25,"max_extra_cover":1708,"options":{"option":{"code":"INTL_SERVICE_OPTION_EXTRA_COVER","name":"Extra
        Cover"}}}]}}'
  recorded_at: Sat, 02 May 2015 23:39:59 GMT
recorded_with: VCR 2.9.3
