---
http_interactions:
- request:
    method: get
    uri: https://auspost.com.au/api/postage/parcel/domestic/service.json?from_postcode=2000&height=10&length=10&to_postcode=3000&weight=10&width=10
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Auth-Key:
      - cd4fcd93-6230-44cb-98ff-3294e281e968
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"services":{"service":[{"code":"AUS_PARCEL_REGULAR","name":"Parcel
        Post","price":23.85,"max_extra_cover":5000,"options":{"option":[{"code":"AUS_SERVICE_OPTION_STANDARD","name":"Standard
        Service","suboptions":{"option":{"code":"AUS_SERVICE_OPTION_EXTRA_COVER","max_extra_cover":300,"name":"Extra
        Cover"}}},{"code":"AUS_SERVICE_OPTION_SIGNATURE_ON_DELIVERY","name":"Signature
        on Delivery","suboptions":{"option":{"code":"AUS_SERVICE_OPTION_EXTRA_COVER","max_extra_cover":5000,"name":"Extra
        Cover"}}}]}},{"code":"AUS_PARCEL_EXPRESS","name":"Express Post","price":60.05,"max_extra_cover":5000,"options":{"option":[{"code":"AUS_SERVICE_OPTION_STANDARD","name":"Standard
        Service","suboptions":{"option":{"code":"AUS_SERVICE_OPTION_EXTRA_COVER","max_extra_cover":300,"name":"Extra
        Cover"}}},{"code":"AUS_SERVICE_OPTION_SIGNATURE_ON_DELIVERY","name":"Signature
        on Delivery","suboptions":{"option":{"code":"AUS_SERVICE_OPTION_EXTRA_COVER","max_extra_cover":5000,"name":"Extra
        Cover"}}}]}}]}}'
  recorded_at: Sat, 02 May 2015 23:39:58 GMT
recorded_with: VCR 2.9.3
